{% extends "_global/index.html" %}

{% block main %}
<div class="container mt-5">
    {% for subcategory in subcategories %}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-4 mb-3">
            <div class="border">
                <img src="" height="50" alt="{{ subcategory.alt_text }}">
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="border" style="width: 100%;">
                <a href="{{BASE}}auction/{{subcategory.auction_id}}">
                    <p style="font-size: 20px;">{{subcategory.title}}</p>
                </a>
                <table class="table">
                    <tbody>
                        <tr>
                            <td scope="row"><p>Started Price:</p></td>
                            <td><p>{{subcategory.max_price}}</p></td>
                        </tr>
                        <tr>
                            <td scope="row"><p>Stanje:</p></td>
                            <td><p>{{subcategory.condition}}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="border">
                <a href="{{BASE}}user/{{subcategory.user}}">
                    <i class="fa-solid fa-user-tie fa-lg" style="color: #d78c00;"></i> {{subcategory.username}}
                </a>
                <div><i class="fa-solid fa-clock fa-lg" style="color: #d78c00;"></i> {{subcategory.days}}</div>
            </div>
        </div>
    </div>
    <hr class="my-3">
    {% endfor %}
</div>
{% endblock %}

{% block title %}
{{ category.name|escape }}
{% endblock %}


