
{% extends "_global/index.html" %}

{% block main %}
{{register}}
<div class="container">
 <div class="row">
    <div class="col-6">
<form action="{{BASE}}user/register/" method="POST">
    <div class="mb-2">
        <label for="forename" class="form-label">First Name</label>
        <input type="text" class="form-control" id="forename" name="forename" >
        
      </div>
      <div class="mb-2">
        <label for="surename" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="surename" name="surename" >
      </div>
    <div class="mb-2">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" >
        <div id="" class="form-text">
            {{email}}
        </div>
    </div>
    <div class="mb-2">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" >
        <div id="" class="form-text">
            {{usern}}
        </div>
      </div>
    <div class="mb-2">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password">
      <div id="passwordHelpBlock" class="form-text">
       {{message}}
      </div>
    </div>
    <div class="mb-2">
        <label for="password1" class="form-label">Password again</label>
        <input type="password" class="form-control"  name="password1" id="password1">
      </div>
      <div class="mb-2">
        <label for="adress" class="form-label">Adress</label>
        <input type="text" class="form-control" id="adress" name="adress" >
      </div>
      <div class="mb-2">
        <label for="phone" class="form-label">Number</label>
        <input type="text" class="form-control" id="phone" name="phone">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> 
</div>  
</div>
{% endblock %}


